USE [master]
GO
/****** Object:  Database [TodoList]    Script Date: 6/12/2023 6:36:20 PM ******/
CREATE DATABASE [TodoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoList]
GO
/****** Object:  Table [dbo].[ListEntries]    Script Date: 6/12/2023 6:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListEntries](
	[ID] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Done] [bit] NOT NULL,
 CONSTRAINT [PK_ListEntries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ListEntries] ADD  CONSTRAINT [DF_ListEntries_Done]  DEFAULT ((0)) FOR [Done]
GO
USE [master]
GO
